[submodule "nix/files/emacs/plugins/vue-ts-mode"]
	path = nix/files/emacs/plugins/vue-ts-mode
	url = https://github.com/8uff3r/vue-ts-mode
[submodule "nix/files/emacs/ob-duckdb"]
	path = nix/files/emacs/ob-duckdb
	url = https://github.com/cswank/ob-duckdb
[submodule "nix/files/emacs/plugins/ob-duckdb"]
	path = nix/files/emacs/plugins/ob-duckdb
	url = https://github.com/cswank/ob-duckdb
